main .sprite {
    position: absolute;
    display: block;
    width: 6vw;
    height: 6vw;
    transform: translate(-50%,-100%);
    background-color: transparent; 
    background-repeat: no-repeat;
    background-size: 18vw 24vw;
    cursor: pointer;
    overflow: visible;
    z-index: 5;
}

main .sprite.selected:after {
    display: block;
    content: ' ';
    position: absolute;
    background-color: white;
    border-radius: 50%;
    left: 2.5vw;
    top: -2vw;
    width: 1vw;
    height: 1vw;
}



/***********************************************************
*                   persoS (+ Animations)
 ***********************************************************/
.sprite1 {
    background-image: url(../images/raphael0.png);   
}
.sprite2 {
    background-image: url(../images/raphael1.png);   
}
.sprite3 {
    background-image: url(../images/raphael1.png);   
}
.sprite4 {
    background-image: url(../images/raphael2.png);   
}
.sprite5 {
    background-image: url(../images/raphael2.png);   
}
.sprite6 {
    background-image: url(../images/raphael3.png);   
}
.sprite7 {
    background-image: url(../images/raphael4.png);   
}
.sprite0 {
    background-image: url(../images/raphael4.png);   
}

@keyframes animMarcheGauche {
    0% {    background-position: 0vw calc(-6vw - 1px);   }
    25% {   background-position: -6vw calc(-6vw - 1px);   }
    50% {   background-position: -12vw calc(-6vw - 1px);   }
    75% {   background-position: -6vw calc(-6vw - 1px);   }
    100% {    background-position: 0vw calc(-6vw - 1px);   }
}
@keyframes animMarcheDroite {
    0% {    background-position: 0vw calc(-12vw - 1px);   }
    25% {   background-position: -6vw calc(-12vw - 1px);   }
    50% {   background-position: -12vw calc(-12vw - 1px);   }
    75% {   background-position: -6vw calc(-12vw - 1px);   }
    100% {    background-position: 0vw calc(-12vw - 1px);   }
}
@keyframes animMarcheBas {
    0% {    background-position: 0vw 0vw;   }
    25% {   background-position: -6vw 0vw;   }
    50% {   background-position: -12vw 0vw;   }
    75% {   background-position: -6vw 0vw;   }
    100% {    background-position: 0vw 0vw;   }
}
@keyframes animMarcheHaut {
    0% {    background-position: 0vw calc(-18vw - 1px);   }
    25% {   background-position: -6vw calc(-18vw - 1px);   }
    50% {   background-position: -12vw calc(-18vw - 1px);   }
    75% {   background-position: -6vw calc(-18vw - 1px);   }
    100% {    background-position: 0vw calc(-18vw - 1px);   }
}
.sprite.animation {
    animation-duration: 0.4s;
    animation-direction: normal;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(1);
}
.sprite.animation.marcheG {
    animation-name: animMarcheGauche;   
}
.sprite.animation.marcheD {
    animation-name: animMarcheDroite;   
}
.sprite.animation.marcheB {
    animation-name: animMarcheBas;   
}
.sprite.animation.marcheH {
    animation-name: animMarcheHaut;   
}
.sprite.arretG {
    background-position: -6vw calc(-6vw - 1px);
}
.sprite.arretD {
    background-position: -6vw calc(-12vw - 1px);
}
.sprite.arretB {
    background-position: -6vw 0vw;
}
.sprite.arretH {
    background-position: -6vw calc(-18vw - 1px);
}


/****** DEBUG *****/
.debug {
    position: absolute; 
    border: solid 1px red;
}


